.grid-container{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2,140px);
    grid-template-rows: repeat(2 calc( 140px / 2* 3 ));
}
.card{
    height: calc(140/ 2*3 );
    width: 140px;
    position: relative;
    transform-style: preserve-3d;
    transition:  all 0.5s ease-in-out;

}

.front-image{
    width: 100%;
}
.card.flipped{
    transform:rotateY(180deg);
}
.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    border-radius: 0;
    top:0;
    left:0;
    height: 100%;
    width: 100%;

}
.card .front{
    display: flex;
    justify-content: center;
    align-items:center;
    transform: rotateY(180deg);
}
.card .back{
     background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='36' height='36' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffffff'/><path d='M3.445 3.624a5 5 0 01-6.89 0m8.973 4.709a10 10 0 01-11.056 0m2.083 24.043a5 5 0 016.89 0m-8.973-4.709a10 10 0 0111.056 0M39.444 3.624a5 5 0 01-6.889 0m8.973 4.709a10 10 0 01-11.056 0m2.082 24.043a5 5 0 016.891 0m-8.973-4.709a10 10 0 0111.056 0m-20.082-6.043a5 5 0 01-6.891 0m0-7.247a5 5 0 016.89 0m2.083 11.956a10 10 0 01-11.056.001m0-16.666a10 10 0 0111.056-.001'  stroke-linecap='square' stroke-width='1' stroke='%2300bcd4ff' fill='none'/><path d='M21.624-3.445a5 5 0 010 6.89m-7.247 0a5 5 0 010-6.89m11.956-2.083a10 10 0 01.001 11.056m-16.666 0a10 10 0 01-.002-11.056m11.958 38.083a5 5 0 010 6.89m-7.247 0a5 5 0 01-.001-6.89m11.956-2.083a10 10 0 01.002 11.056m-16.666 0a10 10 0 01-.002-11.056M3.624 14.555a5 5 0 010 6.891m4.71-8.974a10 10 0 01-.001 11.056m24.042-2.082a5 5 0 01.001-6.891m-4.71 8.974a10 10 0 010-11.056'  stroke-linecap='square' stroke-width='1' stroke='hsla(4.1,89.6%,58.4%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
     background-size: cover;
     backface-visibility: hidden;

    }