.grid-container{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2,140px);
    grid-template-rows: repeat(2 calc( 140px / 2* 3 ));
}
.card{
    height: calc(140/ 2*3 );
    width: 140px;
    position: relative;
    transform-style: preserve-3d;
    transition:  all 0.5s ease-in-out;

}

.front-image{
    width: 100%;
}
.card.flipped{
    transform:rotateY(180deg);
}
.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    
}