*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}



body{
  background: linear-gradient(135deg, #152a43, #1e2a55, #000000, #1a001a);;
  background-repeat: none;
  min-height: 100vh;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color:red;
}

h1{
     font-family: "Press Start 2P", system-ui;
  font-weight: 400;
    font-style: normal;
  color:red;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
 width: 90vw;
    align-self: center;
    justify-self: center;
         justify-content: space-between;

    
}
.navigation{
  display: flex;
  flex-direction: row;
}
.dropdown-menu{
    background-color: red;
}

.dropdown a{
    background-color: transparent;

}
.index-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;


}
.index-main h1{
    margin-top: 5vh;
}
.home{
src: format(10);}
